<div class="jumbotron">
  <h1>Welcome to my Pinterested App</h1>
  <p>Pretty cool, yay!</p>
  <%= link_to 'Login', root_path, class:"btn btn-secondary" %>
  <%= link_to 'Join', root_path, class:"btn btn-primary" %>
</div>
