// app/assets/stylesheets/pins.css.scss

.pins {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Cinco colunas */
  gap: 10px;
  /* Espaçamento entre os itens */
  list-style: none;
  /* Remove bullets se houver */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margin */
}

.pin {
  box-sizing: border-box;
  border: 1px solid #ddd;
  /* Adiciona uma borda para melhor visualização */
  padding: 10px;
  background-color: white;
  /* Fundo branco para cada pin */
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box img {
  width: 100%;
}